BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "DISPLAY[0]" SITE "1" ;
LOCATE COMP "DISPLAY[1]" SITE "2" ;
LOCATE COMP "DISPLAY[2]" SITE "3" ;
LOCATE COMP "DISPLAY[3]" SITE "4" ;
LOCATE COMP "DISPLAY[4]" SITE "5" ;
LOCATE COMP "DISPLAY[5]" SITE "6" ;
LOCATE COMP "DISPLAY[6]" SITE "9" ;
LOCATE COMP "S" SITE "71" ;
LOCATE COMP "R" SITE "69" ;
LOCATE COMP "J" SITE "70" ;
LOCATE COMP "K" SITE "68" ;
LOCATE COMP "D" SITE "67" ;
LOCATE COMP "T" SITE "62" ;
LOCATE COMP "SEL[0]" SITE "65" ;
LOCATE COMP "SEL[1]" SITE "61" ;
LOCATE COMP "CLR" SITE "60" ;
